  .new-task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .new-task-form input[type="text"],
  .new-task-form input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .centered{
    align-self: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
  }

  .task-card {
    margin-bottom: 10px;
    border: 1px dashed #f8f8f8;
    border-radius: 4px;
  }
  
  .task-card .mat-card-header-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .deadline {
    font-size: 0.85em;
    color: #757575; 
    margin-bottom: 4px; 
  }
  
  .completed {
    color: #bdbdbd; 
    text-decoration: line-through;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px 8px;
  }

  .mat-checkbox-layout {
    margin-right: 8px; 
  }
  