
mat-card.archived-task {
  width: 50%; 
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  mat-card.archived-task {
    width: 80%;
  }
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
}

.archived-task {
  max-width: 600px; 
  margin-bottom: 20px; 
  width: 100%; 
}