/* You can add global styles to this file, and also import other style files */
body {
    background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49460");
  }
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header Styles */
  header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    height: 5vh;

  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  /* Router Outlet Styles */
  .router-outlet {
    flex: 1;
    padding: 20px;
    background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49460");
    height: 80vh;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    height: 5vh;
  }
  